.Wrap {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 90%;
    top: 0;
}

.PageSwitcher {
    position: fixed;
    transition-duration: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #555;
    border: 40px solid transparent;	
    border-left: 40px solid rgba(75, 70, 88, 0.308);
}

.PageSwitcher:hover {
    border-left-color: rgba(41, 44, 51, 0.753);
    transition-duration: 0.2s;
    cursor: pointer;
    color: #000;
}

.Next {
    right: -40px;
}
.Prev {
    left: -40px;
    transform: rotate(180deg);
}