.PageSwitcher {
    position: fixed;
    transition-duration: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #555;
    border: 70px solid transparent;	
    border-left: 70px solid rgba(75, 70, 88, 0.308);
}

.PageSwitcher:hover {
    /* background: rgba(98, 104, 138, 0.514); */
    border-left-color: rgba(41, 44, 51, 0.753);
    transition-duration: 0.2s;
    cursor: pointer;
    color: #000;
}

.Next {
    right: -70px;
}
.Prev {
    left: -70px;
    transform: rotate(180deg);
}