.SearchBar {
    font-family: 'Open Sans', sans-serif;
    display: block;
    width: 80%;
    height: 40px;
    font-size: 33px;
    padding: 5px;
    margin: auto;
    margin-top: 25px;
    outline: none;
}

@media (min-width: 650px) {
    .SearchBar {
        width: 50%
    }
}